<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Regios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
<section class="hero is-success is-fullheight">
	<div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
		Regios
      </h1>
      <h2 class="subtitle">
        Webseite untersuchen
      </h2>
      <form  method="POST" action="api/crawl/">
		{% csrf_token %}
		<div class="field is-grouped is-grouped-centered">
  		  <div class="control">
			<div class="field-label is-normal">
		  	  <label class="label">URL</label>
		  	</div>
		  </div>
  		  <div class="control">
        <!-- name value is the key in the QueryDict which is passed to django: 'request.POST.get('url')-->
		    <input class="input" name="url" type="url" value="https://medical-valley-emn.de" required>
		    <p class="help">eine URL eingeben</p>
		  </div>
		  <div class="control">
		      <button class="button is-primary" type="submit">Abschicken</button>
		  </div>
		</div>
			
	</form>
    </div>
    </div>
  </section>
  </body>
</html>