{% extends "./layout.html" %}
{% block head %}
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Information on: {{domain.domain}}</h1>
            <h2 class="subtitle">Status: <span id="status">{{domain.status}}</span>
      </h2>
            <input type="hidden" id="url" value="{{domain.url}}">
            <!--h1 class=title">Simple check running for Domain: {{domain}}</h1-->
            <table class="table">
                <thead>
                    <tr>
                        <th><abbr title="Domain">Domain</abbr></th>
                        <th><abbr title="Name from Impressum">Name</abbr></th>
                        <th><abbr title="Title from home/index directory">Title</abbr></th>
                        <th><abbr title="Zip Code">ZIP</abbr></th>
                        <th><abbr title="Duration">Duration</abbr></th>
                        <th><abbr title="Last Update">Updated At</abbr></th>
                        <!--      <th><abbr title="Externals">External Urls Found</abbr></th> -->
                        <!--      <th><abbr title="last_Updated">Last Updated At</abbr></th> -->
                        <!--     <th><abbr title="Duration of last search">Duration</abbr></th> -->
                        <th><abbr title="Local Urls Crawled">Locals</abbr></th>
                        <th><abbr title="External Urls Found">Externals</abbr></th>
                        <th><abbr title="External To Scan">Externals To Scan</abbr></th>
                        <th><abbr title="Options">Options</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="domain">{{domain.domain}}</td>
                        <td>{{domain.name}}</td>
                        <td>{{domain.title}}</td>
                        <td>{{domain.zip}}</td>
                        <td>{{domain.duration}}</td>
                        <td>{{domain.last_update}}</td>
                        <td>{{domain.locals.count}}</td>
                        <td>{{domain.externals.count}}</td>
                        <td id="externals_count">
                            {% if domain.filtered_externals.count > 0 %}
                            {{domain.filtered_externals.count}}
                            {% else %}
                            processing ...
                            {% endif %}
                        </td>
                        <td><a class="button is-primary" href="{% url 'refresh' domain.domain%}">Refresh</a> start search for externals</td>
                    </tr>
                </tbody>
            </table>
            <div class="content">
                <button id="infoscan" class="button is-primary is-inverted"><a href="/">Start</a></button>
                <a class="button is-primary is-inverted" href="/TODO">Filters</a>
                <a class="button is-primary is-inverted" href="/TODO">Graph</a>
            </div>
            <div id="remaining"></div>
        </div>
    </div>
</section>
{% endblock %}
{% block content%}
<section class="section">
<div class="container">

    <form method="POST" action="{% url 'api:selected' %}">
        {% csrf_token %} 
            <button id="start" class="button is-primary" type="submit">Start Selected Scan</button>
        <table id="externals" class="display">
        <thead>
            <tr>
                <th>Select</th>
                <th>External Domains</th>
                <th>External Urls</th>
                <th>ZIP</th>
                <th>Name</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for external in domain.filtered_externals %}
            <tr>
                <td>
                    <label class="checkbox">
                      <input type="checkbox" name="selected" value="{{external.domain}}" />
                    </label>
                </td>
                <td id="external_domain">{{external.domain}}</td>
                <td id="external_url"><a href="{{ external.url }}" target="_blank">{{external.url|truncatechars_html:50}}</a></td>
                <td id="zip_id_{{ forloop.counter }}">{{external.info.zip}}</td>
                <td id="name_id_{{ forloop.counter }}">
                    {% if external.info.name != 'dummy' %}
                    {{external.info.name}}
                    {% elif external.info.title != 'None!' %}
                    {{external.info.title}}
                    {% else %}
                    Nothing found.
                    {% endif %}
                </td>
                <td><a class="button is-danger is-outlined" href="{% url 'filter' src_domain=domain.domain external_domain=external.domain %}">Add to Filter</a>
                    <button class="button is-success is-outlined" type="button" onclick="startScraping('infospider','{{external.domain}}','{{ external.url }}','#status_id_{{ forloop.counter }}', 'refresh')">Run InfoScan</button>
                    <input type="hidden" id="status_id_{{ forloop.counter }}" value="{{domain.url}}">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="start" class="button is-primary" type="submit">Start Selected Scan</button>
    </form>

    <!--table id="locals" class="display">
        <thead>
            <tr>
                <th>Locals Urls</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for local in domain.locals.all %}
            <tr>
                <td><a href="{{local.url}}" target="_blank">{{local.url|truncatechars_html:120}}</a></td>
                <td>Options</td>
            </tr>
            {% endfor %}
        </tbody>
    </table-->
</div>
</section>
{% endblock %}
{% block javascript %}
<script>
function startScraping(spider, domain, url, display_id, job) {
    var start_spider = {
        domain: domain,
        url: url,
        name: spider,
        keywords: $("#domain").text(),
        display_id: display_id,
        job: job
    }
    //simple spider checking only Impressum, Title, Keywords
    $.post("/api/post/", start_spider,
        function(data) {
            console.log(data);
            if (data.info) {
                console.log('here we go: ' + start_spider.domain)
                $(start_spider.display_id).html('data exists in DB');
                return;
            }
            console.log('starting spider for: ' + start_spider.domain)
            var interval = 1500;
            (function doUpdate() {
                $.get("/api/get/", { task_id: data['task_id'], domain: start_spider.domain },
                        function(new_data) {
                            if (new_data.status)
                                $(start_spider.display_id).html('<div class="control is-loading">' +
                                    '<input class="input" type="text" value="' + new_data.status +
                                    '" readonly></div>');
                            else {
                                console.log(new_data);
                                $(start_spider.display_id).html(new_data.data.status);
                            }
                        })
                    .done(function() {
                        var status = $(start_spider.display_id).text()
                        if (status == 'finished' && start_spider.job == 'None') {
                            console.log(start_spider.display_id)
                            location.reload(true);
                        } else if (status == 'finished' && start_spider.job == 'refresh') {
                            console.log('finished domain: ' + start_spider.domain);
                            location.reload(true);
                        } else {
                            console.log('not finished... ');
                            setTimeout(doUpdate, interval);
                        }
                    });
            })();
        });
}
$(document).ready(function() {
    $('#externals').DataTable({
        "order": [
            [3, 'asc']
        ],
        "pageLength": 100,
    });
    $('#locals').DataTable();
    var externals_count = parseInt($("#externals_count").text()) > 0;
    if (externals_count)
        return;
    var isFinished = $("#status").text() == 'finished';
    var domain = $("#domain").text();
    if (isFinished) {

        var externals_count = parseInt($("#externals_count").text());
        // start crawling 
        $.post("/api/infoscan/", { 'domain': domain }, function(data) {
            var interval = 1500;
            console.log('data: ' + data);
            (function doUpdate() {
                $.get("/api/scrapy_jobs_status/", { 'domain': domain, 'timer': data.time },
                        function(new_data) {
                            console.log('new_data: ' + new_data);
                            if (new_data.remaining > 0)
                                $('#remaining').html('<div class="control is-loading">' +
                                    '<input class="input" type="text" value="Remaining to scrap ' + new_data.remaining + ' elapsed: ' + new_data.elapsed + '" readonly></div>');
                            else {
                                console.log(new_data);
                                $('#remaining').html(new_data.status);
                                console.log('time needed: ' + new_data.elapsed)

                            }
                        })
                    .done(function() {
                        var status = $('#remaining').text()
                        if (status == 'finished') {
                            location.reload(true);
                        } else {
                            console.log('not finished... ');
                            setTimeout(doUpdate, interval);
                        }
                    });
            })();
        });
        return;
    }
    var url = $("#url").val();
    var domain = $("#domain").text();
    return startScraping('botspider', domain, url, '#status', 'None');
});
$("#refresh").click(function() {
    var url = $("#url").val();
    var domain = $("#domain").text();
    return startScraping('botspider', domain, url, '#status', 'None');
});
$("#infoscan").click(function() {
    $("#externals > tbody > tr").each(function() {
        domain = $(this).find("#external_domain").text();
        url = $(this).find("#external_url").text();
        display_id = '#status_id_' + $(this).find("#id").text();
        return startScraping('infospider', domain, url, display_id, 'InfoScan');
    });
});
</script>
{% endblock %}