{% extends "./layout.html" %}
{% block head %}
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Information on: {{domain.domain}}</h1>
      <h2 class="subtitle">Status: <span id="status">{{domain.status}}</span>
      </h2>
      <input type="hidden" id="url" value="{{domain.url}}">
  <!--h1 class=title">Simple check running for Domain: {{domain}}</h1-->
  <table class="table">
  <thead>
    <tr>
      <th><abbr title="Domain">Domain</abbr></th>
      <th><abbr title="Name from Impressum">Name</abbr></th>
      <th><abbr title="Title from home/index directory">Title</abbr></th>
      <th><abbr title="Zip Code">ZIP</abbr></th>
      <th><abbr title="Duration">Duration</abbr></th>
      <th><abbr title="Last Update">Updated At</abbr></th>

<!--      <th><abbr title="Externals">External Urls Found</abbr></th> -->
<!--      <th><abbr title="last_Updated">Last Updated At</abbr></th> -->
<!--     <th><abbr title="Duration of last search">Duration</abbr></th> -->
      <th><abbr title="Local Urls Crawled">Locals</abbr></th>
      <th><abbr title="External Urls Found">Externals</abbr></th>
      <th><abbr title="Options">Options</abbr></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="domain">{{domain.domain}}</td>
      <td>{{domain.name}}</td>
      <td>{{domain.title}}</td>
      <td>{{domain.zip}}</td>
      <td>{{domain.duration}}</td>
      <td>{{domain.last_update}}</td>
      <!--td>{{domain.externals.count}}</td-->
      <!--td>{ { d omain.updated_at}}</td>
      <td>
        {% csrf_token %}
        <button id="refresh" class="button is-primary" type="submit">Refresh</button>
      </td-->
      <td>{{domain.locals.count}}</td>
      <td>{{domain.externals.count}}</td>
      <td><a  class="button is-primary" href="{% url 'refresh' domain.domain%}">Refresh</a> start search for externals</td>
    </tr>
  </tbody>
</table>
<div class="content">
<button id="infoscan" class="button is-primary is-inverted">InfoScan</button>
<a class="button is-primary is-inverted" href="/TODO">Filters</a>
<a class="button is-primary is-inverted" href="/TODO">Graph</a>
</div>
</div>
</div>
</section>
{% endblock %}
{% block content%}
<div class="container">
<table id="externals" class="display">
    <thead>
        <tr>
            <th>External Domains</th>
            <th>External Urls</th>
            <th>Status</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% for external in domain.externals %}
        <tr>
            <td id="external_domain">{{external.external_domain}}</td>
            <td id="external_url">{{external.url|truncatechars_html:100}}</td>
            <td id="result">---</td>
            <td>filter options</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table id="locals" class="display">
    <thead>
        <tr>
            <th>Locals Urls</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% for local in domain.locals.all %}
        <tr>
            <td>{{local.url|truncatechars_html:120}}</td>
            <td>filter options</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block javascript %}
<script>
  function startScraping(spider, domain, url/*, id*/) {
    var start_spider = {
      domain: domain,
      url: url,
      name: spider,
      keywords: $("#domain").text(),
//      display_id: id
    }
    //simple spider checking only Impressum, Title, Keywords
    $.post("/api/post/", start_spider, 
      function(data) {
        //alert(data['task_id']);
      
      var interval = 1500;
      (function doUpdate() {
        $.get("/api/get/", {task_id: data['task_id'], domain: start_spider.domain},
         function(new_data){
          if (new_data.status)
            $("#status").html('<div class="control is-loading">'+ 
              '<input class="input" type="text" value="'+ new_data.status + 
              '" readonly></div>');
          else {
            console.log(new_data);
            $("#status").html(new_data.data.status);
          }
        })
        .done(function(){
          var status = $("#status").text()
          if (status!='finished') {
            console.log('not finished... ');
            setTimeout(doUpdate, interval);
          }
          else 
            location.reload(true);
        });
      })();
    });
  }
  $(document).ready(function(){
    $('#externals').DataTable({
        "order": [[ 1, 'desc' ]]
      });
    $('#locals').DataTable();
    var isFinished = $("#status").text() == 'finished';
    if (isFinished)
      return ;
    var url = $("#url").val();
    var domain = $("#domain").text();
    return startScraping('botspider', domain, url);
  });
  $("#refresh").click(function(){
    var url = $("#url").val();
    var domain = $("#domain").text();
    return startScraping('botspider', domain, url);
  });
  $("#infoscan").click(function(){
    $("tbody tr").each(function () {
      domain = $(this).find("#external_domain").text();
      url = $(this).find("#external_url").text();
      return startScraping('infospider', domain, url);
    });
    return startScraping('infospider', domain, url);
  });

</script>
{% endblock %}