{% extends "./layout.html" %}
{% block head %}
<section class="hero is-info">
    {% include "./messages.html" %}
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Information on: {{domain.domain}}</h1>
            <h2 class="subtitle">Status: <span id="status">{{domain.status}}</span>
            </h2>
            <nav class="panel">
                <p class="panel-heading">
                    {{domain.domain}}
                </p>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                    </span>
                    {{domain.info.tip}}
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-heading" aria-hidden="true"></i>
                    </span>
                    {{domain.info.title}}
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    {{domain.info.desc}}
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-key" aria-hidden="true"></i>
                    </span>
                    {{domain.info.keywords}}
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                    </span>
                    {{domain.info.zip}}
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-user-tag" aria-hidden="true"></i>
                    </span>
                    {{domain.info.misc}}
                </a>
                <div class="panel-block">
                    <button class="button is-link is-outlined is-fullwidth">
                        <a href="/">Home</a> </button>
                </div>
            </nav>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">external references</p>
                        <p class="title">{{domain.externals.count}}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">unique externals</p>
                        <p class="title">{{domain.unique_external_domains|length}}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">filter unique</p>
                        <p class="title">{{domain.filter_unique_externals|length}}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">run info scans for</p>
                        <p class="title">{{domain.to_info_scan|length}}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">run external scans for</p>
                        <p class="title">{{domain.to_external_scan|length}}</p>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
{% endblock %}
{% block content%}
<section class="section">
    <div class="container">
    </div>
</section>
{% endblock %}