{% extends "./layout.html" %}
{% block head %}
<section class="hero is-info is-fullheight">
    {% include "./messages.html" %}
    <div class="hero-body">
        {% include "./display-info.html" %}
    </div>
</section>
{% endblock %}
{% block content%}
{% if domain.externalscan %}
<section class="section">
    <div class="container">
        <!-- USING FORMS IS DEPRECATED NEED TO BE CORRECTED ERROR-->
        <form method="POST" action="{% url 'externals_selected' domain=domain.domain %}">
            {% csrf_token %}
            <div class="field is-grouped">
                <div class="control">
                    <button id="start" class="button is-primary" type="submit"><span id="groupCheckBox"></span>&nbsp;Selected - Start Scan</button>
                </div>
                <p class="control">
                    <input class="input" id="zip_from" type="number" placeholder="Range from ZIP">
                </p>
                <p class="control">
                    <input class="input" id="zip_to" type="number" placeholder="to ZIP">
                </p>
                <div class="control">
                    <button id="select_range" class="button is-primary" type="button">Select range
                    </button>
                </div>
                <div class="control">
                    <div class="is-pulled-right">
                        <a class="button is-info"><input type="checkbox" id="checkAll">&nbsp;Check All</a>
                    </div>
                </div>
            </div>
            <table id="externals" class="display">
                <thead>
                    <tr>
                        <th style="max-width: 40px;word-wrap: break-word;">Select</th>
                        <th style="max-width: 50px;word-wrap: break-word;">External Domains</th>
                        <th style="max-width: 50px;word-wrap: break-word;">Suggested Name<sup>**</sup></th>
                        <th style="max-width: 50px;word-wrap: break-word;">Description</th>
                        <th style="max-width: 50px;word-wrap: break-word;">Keywords</th>
                        <th style="max-width: 20px;word-wrap: break-word;" id="zip_asc">ZIP</th>
                        <th style="max-width: 50px;word-wrap: break-word;">Filter local / global</th>
                    </tr>
                </thead>
                <tbody>
                    {% for external in domain.filter_unique_externals %}
                    <tr>                            
                        {% if external.status == 'canceled' or external.status == 'refresh' %}
                        <td><a class="button is-warning is-rounded is-small" href="{% url 'refresh' external.external_domain %}">Refresh</a></td>
                        {% elif external.fullscan %}
                        <td class="has-background-success" style="max-width: 30px;word-wrap: break-word;">
                        {% else %}
                        <td style="max-width: 30px;word-wrap: break-word;">
                            {% endif %}
                            <label class="checkbox">
                                {% if external.fullscan %}
                                <!--input type="checkbox" name="selected" class="groupCheckBox" value="{{external.external_domain}}" disabled /-->
                                {% elif external.is_being_crawled %}
                                <a class="button is-warning is-rounded is-small" href="{% url 'refresh' external.external_domain %}">Refresh</a>
                                <button class="button is-loading">Crawling</button>
                                {% else %}
                                <input type="checkbox" name="selected" class="groupCheckBox" value="{{external.external_domain}}" />
                                {% endif %}
                            </label>
                        </td>
                        <td style="max-width: 150px;word-wrap: break-word;" id="external_domain"><a href="/display/{{external.external_domain}}" target="_blank">{{external.external_domain}}</a><br />(<a href="{{ external.url }}" target="_blank">{{external.url|truncatechars_html:50}}</a>)
                        </td>
                        <form method="POST" action="/edit/{{domain.domain}}/info/{{external.external_domain}}">
                            {% csrf_token %}
                            <td style="max-width: 150px;word-wrap: break-word;" id="name_id_{{ forloop.counter }}" style="width='100%'">
                                {% if external.info.misc %}
                                <b>
                                    <div id="displayEditable">
                                        {{ external.info.misc }}
                                    </div>
                                </b>&nbsp;({{ external.info.tip }})
                                {% elif external.info.title or external.info.name %}
                                <div id="displayEditable">
                                    {% if external.info.title %} title: {{ external.info.title }}<br />{% endif %}
                                    {% if external.info.name %} name: {{ external.info.name }}{% endif %}
                                </div>
                                {% else %}
                                <div id="displayEditable">-</div>
                                {% endif %}
                                <div id="openEdit" class="editable" hidden>
                                    <textarea class="textarea" name="misc" style="width='100%'" id="edit" disabled />{{external.info.misc}}</textarea>
                                </div>
                            </td>
                            <td style="max-width: 150px;word-wrap: break-word;">
                                {% if external.info.desc %}
                                <div id="displayEditable">
                                    {{ external.info.desc }}
                                </div>
                                {% else %}
                                <div id="displayEditable">-</div>
                                {% endif %}
                                <div id="openEdit" class="editable" hidden>
                                    <textarea class="textarea" name="desc" style="width='100%'" id="edit" disabled />{{external.info.desc}}</textarea>
                                </div>
                            </td>
                            <td style="max-width: 150px;word-wrap: break-word;">
                                {% if external.info.keywords %}
                                <div id="displayEditable">
                                    {{ external.info.keywords|truncatechars:150 }}
                                </div>
                                {% else %}
                                <div id="displayEditable">-</div>
                                {% endif %}
                                <div id="openEdit" class="editable" hidden>
                                    <textarea class="textarea" name="keywords" style="width='100%'" id="edit" disabled />{{external.info.keywords}}</textarea>
                                </div>
                            </td>
                            <td id="zip" style="max-width: 60px;word-wrap: break-word;">
                                {% if external.info.zip %}
                                <div id="displayEditable">{{external.info.zip}}</div>
                                <div id="openEdit" class="editable" hidden>
                                    <input name="zip" id="edit" class="input" size="5" type="number" value="{{external.info.zip}}" style="width='100%'" disabled />
                                </div>
                                {% else %}
                                <div id="displayEditable">-</div>
                                <div id="openEdit" class="editable" hidden>
                                    <input name="zip" id="edit" class="input" size="5" type="number" value="0" style="width='100%'" disabled />
                                </div>
                                {% endif %}
                            </td>
                            {% if external.is_suspicious %}
                            <td style="max-width: 100px;word-wrap: break-word;" class="has-background-warning">
                                {% else %}
                            <td style="max-width: 100px;word-wrap: break-word;">
                                {% endif %}
                                <div class="field is-grouped">
                                    <div id="submitButton" hidden>
                                        <p class="control">
                                            <button class="button is-success is-rounded is-small" type="submit">Save</button>
                                        </p>
                                    </div>
                                    <p class="control">
                                        <a class="button is-info is-outlined is-rounded is-small" href="{% url 'add_to_localfilter' domain=domain.domain local_ignore=external.external_domain %}">local</a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-danger is-outlined is-rounded is-small" href="{% url 'filter' src_domain=domain.domain external_domain=external.external_domain %}">global</a>
                                    </p>
                                </div>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</section>
{% endif %}
{% endblock %}
{% block javascript %}
{% load static %}
<script src="{% static '/js/regios-display.js' %}"></script>
{% endblock %}