{% extends "./layout.html" %}
{% block head %}
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Crawling of <span id=externals_count>{{crawling|length}}<span> domains</h1>
            <div class="content">
                <a class="button is-primary is-inverted" href="/graph/FINDDOMAIN">Graph</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content%}
<section class="section">
    <div class="container">
        <table id="crawling" class="display">
            <thead>
                <tr>
                    <th>Domain</th>
                    <th>Status</th>
                    <th>Spider-Status</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
                {% for domain in crawling %}
                <tr class="{{domain.domain}}">
                    <td id="domain"><a href="/display/{{domain.domain}}">{{domain.domain}}</a>
                    </td>
                    <td id="status">{{domain.status}}</td>
                    <td id="spider_status">-</td>
                    <td>
                        {% if not domain.externalscan %}
                        <button class="button is-danger is-outlined" type="button" onclick="cancelJob(this, '{{domain.domain}}')" value="{{domain.externalspider.job_id}}">Cancel ExternalScan</button>
                        {% elif not domain.infoscan %}
                        <button class="button is-danger is-outlined" type="button" onclick="cancelJob(this, '{{domain.domain}}')" value="{{domain.infospider.job_id}}">Cancel InfoScan</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
{% block javascript %}
{% load static %}
<script src="{% static '/js/regios-selected.js' %}"></script>
{% endblock %}