{% extends "./layout.html" %}
{% block head %}
<section class="hero is-success is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Regios
            </h1>
            <h2 class="subtitle">
                Filter
            </h2>
            <form method="POST" action="{% url 'manual_filter' %}">
                {% csrf_token %}
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Add Filter:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="field is-grouped">
                                <div class="control is-expanded">
                                    <input class="input" name="ignore" placeholder="ignore-me.com" required>
                                </div>
                                <div id="continue" class="control">
                                    <button id="start" class="button is-info" type="submit">Submit</button>
                                </div>
                            </div>
                            <p class="help is-danger is-pulled-left">
                                This field is required
                            </p>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
<div class="container">
    <table id="domains" class="display">
        <thead>
            <tr>
                <th>Domains in DB</th>
                <th>Source filtered from</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for ignored, src_domain in filtered.items %}
            <tr>
                <td>{{ignored}}</td>
                <td>{{src_domain.src}}</td>
                <td>
                    <form method="POST" action="{% url 'remove_filter' ignore=ignored %}">
                        {% csrf_token %}
                        <button id="start" class="button is-danger is-outlined" type="submit">Remove from filter</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function() {
    $('#domains').DataTable({
        "order": [
            [0, 'desc']
        ],
        "pageLength": 100,
    });
});
</script>
{% endblock %}