{% extends "./layout.html" %}
{% block head %}
<section class="hero is-success is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
            Regios
        </h1>
            <h2 class="subtitle">
            Filter
        </h2>
            <form method="POST" action="{% url 'manual_filter' %}">
                {% csrf_token %}
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <div class="field-label is-normal">
                            <label class="label">Add Filter for Domain</label>
                        </div>
                    </div>
                    <div class="control">
                        <input class="input" name="ignore" required>
                        <p class="help">eine Domain zum filtern eingeben</p>
                    </div>
                    <div id="continue" class="control">
                        <button id="start" class="button is-primary" type="submit">Start</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
<div class="container">
    <table id="domains" class="display">
        <thead>
            <tr>
                <th>Domains in DB</th>
                <th>Source filtered from</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for f in filtered %}
            <tr>
                <td>{{f.ignore}}</td>
                <td>{{f.src_domain}}</td>
                <td>
                     <form method="POST" action="{% url 'remove_filter' ignore=f.ignore %}">
                {% csrf_token %}
                 <button id="start" class="button is-danger is-outlined" type="submit">Remove from filter</button>
                 </form>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function() {
    $('#domains').DataTable();
});
/*
    $("#start").click(function(){
        var url = $(".input").val()
      //alert($("#domain").val())
        $.post("/api/crawl/", {url: url, function: 'start'}, function(data) {
            if (!data.status) {
                $("#continue").html("<a class='button is-primary' href='/domain="+data.domain+"'>Display Results from DB</a>");
            }
            else {
              var interval = 1500;
              (function getStatus() {
                $.get("/api/crawl/", {task_id: data['task_id'], unique_id: data['unique_id']}, function(new_data){
                        if (new_data.status) {
                          $("#start").addClass("is-loading");
                        }
                        else {
                            //finished porcess
                            console.log(new_data.data);
                          $("#start").remove();//Class("is-loading").html("<a href='/domain="+new_data.data.domain+"'>Display Results</a>");
                          $("#continue").html("<a class='button is-primary' href='/domain="+new_data.data.domain+"'>Display Results</a>");

                        }
                })
                .done(function(){
                //console.log($("button:contains(Display)"))
                  if ($('#continue').text()!='Display Results') {
                    console.log('not finished... ');
                    setTimeout(getStatus, interval);
                  }
                });
              })();
            }
        });
        return false;
    });
    */
</script>
{% endblock %}