{% extends "./layout.html" %}
{% block head %}
<section class="hero is-success is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
            Regios
        </h1>
            <h2 class="subtitle">
            Filter
        </h2>
            <form method="POST" action="{% url 'manual_filter' %}">
                {% csrf_token %}
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <div class="field-label is-normal">
                            <label class="label">Add Filter for Domain</label>
                        </div>
                    </div>
                    <div class="control">
                        <input class="input" name="ignore" required>
                        <p class="help">eine Domain zum filtern eingeben</p>
                    </div>
                    <div id="continue" class="control">
                        <button id="start" class="button is-primary" type="submit">Start</button>
                    </div>
                </div>
            </form>
            {% if domain %}
            <div class="content">
                <a href="/display/{{domain}}" class="button is-info is-inverted">back to Display {{domain}}</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
<div class="container">
    <table id="domains" class="display">
        <thead>
            <tr>
                <th>Domains in DB</th>
                <th>Source filtered from</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for ignored, src_domain in filtered.items %}
            <tr>
                <td>{{ignored}}</td>
                <td>{{src_domain.src}}</td>
                <td>
                     <form method="POST" action="{% url 'remove_filter' ignore=ignored %}">
                {% csrf_token %}
                 <button id="start" class="button is-danger is-outlined" type="submit">Remove from filter</button>
                 </form>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function() {
    $('#domains').DataTable({
        "order": [
            [0, 'desc']
        ],
        "pageLength": 100,
    });
});
</script>
{% endblock %}