{% extends "./layout.html" %}
{% block head %}
<section class="hero is-success is-medium">
    {% include "./messages.html" %}
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Regios
            </h1>
            <p class="subtitle">
                Dicover Networks | Analyse Actors
            </p>
            <br />
        </div>
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-three-quarters">
                    <form method="POST" action="{% url 'create_actor' %}">
                        {% csrf_token %}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">URL:</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="field is-grouped">
                                        <div class="control is-expanded">
                                            {% if url %}
                                            <input class="input" name="url" type="url" value="{{url}}" required>
                                            {% else %}
                                            <input class="input" name="url" type="url" placeholder="http://www.focal-actor.com" required>
                                            {% endif %}
                                            <input type="hidden" name="next" value="/" />
                                        </div>
                                        <div id="continue" class="control">
                                            <button id="start" class="button is-info" type="submit">Start</button>
                                        </div>
                                    </div>
                                    <p class="help is-danger">
                                        This field is required
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}