{% extends "./layout.html" %}
{% block head %}
<section class="hero is-success is-fullheight">
    {% include "./messages.html" %}
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Regios
            </h1>
            <p class="subtitle">
                Analyse Actors | Discover Networks
            </p>
            <br />
            <div class="columns is-centered">
                <div class="column is-three-quarters">
                    <form method="POST" action="{% url 'check' %}">
                        {% csrf_token %}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Actor:</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="field is-grouped">
                                        <div class="control is-expanded">
                                            {% if url %}
                                            <input class="input" name="url" type="url" value="{{url}}" required>
                                            {% else %}
                                            <input class="input" name="url" type="url" placeholder="http://www.focal-actor.com" required>
                                            {% endif %}
                                            <!--input type="hidden" name="next" value="/" /-->
                                        </div>
                                        <div id="continue" class="control">
                                            <button id="start" class="button is-info" type="submit">Analyse Actor</button>
                                        </div>
                                    </div>
                                    <!--p class="help is-danger is-pulled-left">
                                        This field is required
                                    </p-->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="content"></div>
            <div class="columns is-centered">
                <div class="column is-three-quarters">
                    <form method="POST" action="{% url 'add_network' %}">
                        {% csrf_token %}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Network:</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <input class="input" name="name" placeholder="Name" required>
                                        </div>
                                        <div class="control is-expanded">
                                            <input class="input" name="url" type="url" placeholder="http://www.focal-actor.com" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label"></label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="field is-grouped">
                                        <div class="control is-expanded">
                                            <input class="input" name="keywords" placeholder="medical, pharma, health, gesund ...">
                                        </div>
                                        <div id="continue" class="control">
                                            <button id="start" class="button is-info" type="submit">Create Network</button>
                                        </div>
                                    </div>
                                    <p class="help is-pulled-left">
                                        keywords shoud be comma seperated
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--div class="field is-horizontal">
                            <div class="field-label"></div>
                            <div class="field-body">
                                <div class="field is-expanded">
                                    <p class="control is-expanded">
                                        <textarea class="input" name="desc"></textarea>
                                    </p>
                                </div>
                            </div>
                        </div-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
<div class="container">
    <table id="domains" class="display">
        <thead>
            <tr>
                <th>Domains in DB</th>
                <th>Level</th>
                <th>Name</th>
                <th>Duration</th>
                <th>External</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for d in domains %}
            <tr>
                <td>{{d.domain}}</td>
                <td>{{d.level}}</td>
                <td>{{d.info.name}}</td>
                <td>{{d.duration}}</td>
                <td>{{d.externals.count}}</td>
                <td>
                    <div class="field is-grouped">
                        <div class="control">
                            <a class="button is-primary is-outlined" href="{% url 'display' domain=d.domain%}">Details</a></div>
                        <div class="control">
                            <a class="button is-success is-outlined" href="{% url 'show_graph' domain=d.domain%}">Graph</a></div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function() {
    $('#domains').DataTable({
        "order": [
            [0, 'asc']
        ],
        "pageLength": 100,
    });
});
</script>
{% endblock %}