<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Regios</title>
    {% load static %}
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">-->
    <link rel="stylesheet" href="{% static '/css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/datatables.min.css' %}">
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->

    <script src="{% static '/js/fontawesome-5.5.0.js' %}"></script>
  </head>
  <body>
        {% block head %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% csrf_token %}
  </body>
<script src="{% static '/js/jquery-3.3.1.js' %}"></script>
<script src="{% static '/js/datatables.min.js' %}"></script>

{% block csrf %}
<script>
$(function(){
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
  function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
       }
    });
});
</script>

{% endblock %}
{% block javascript %}
{% endblock %}

</html>