    {% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
            <div class="notification is-danger">
                <button class="delete"></button>
                {{ message }}
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="notification is-warning">
                <button class="delete"></button>
                {{ message }}
            </div>
            </article>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
           <div class="notification is-success">
                <button class="delete"></button>
                {{ message }}
            </div>
        {% else %}
            <div class="notification is-info">
                <button class="delete"></button>
                {{ message }}
            </div>
       {% endif %}
    {% endfor %}
    {% endif %}