<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">Suggested<sup>2)</sup> Actors</h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container is-fullhd">
        <table id="suggested" class="display">
            <thead>
                <tr>
                    <th style="max-width: 40px;word-wrap: break-word;">Related</th>
                    <th style="max-width: 50px;word-wrap: break-word;">Domains</th>
                    <th style="max-width: 50px;word-wrap: break-word;">Suggested Name</th>
                    <th style="max-width: 50px;word-wrap: break-word;">Description</th>
                    <th style="max-width: 50px;word-wrap: break-word;">Keywords</th>
                    <th style="max-width: 50px;word-wrap: break-word;">Source from</th>
                    <th style="max-width: 20px;word-wrap: break-word;" id="zip_asc">ZIP</th>
                    <th style="max-width: 50px;word-wrap: break-word;">Status<sup>3)</sup></th>
                </tr>
            </thead>
            <tbody>
                {% for d in suggested %}
                <tr>
                    <td id="{{d.domain}}" class="related">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="{{d.domain}}" value="add">
                                Yes </label>
                            <!--label class="radio">
                                <input type="radio" name="{{d.domain}}" value="remove">
                                No
                            </label-->
                        </div>
                    </td>
                    <td style="max-width: 150px;word-wrap: break-word;" id="domain"><a href="/display/{{d.domain}}" target="_blank">{{d.domain}}</a><br />(<a href="{{ d.url }}" target="_blank">{{d.url|truncatechars_html:50}}</a>)
                    </td>
                    <td style="max-width: 150px;word-wrap: break-word;" style="width='100%'">
                        {% if d.info.misc %}
                        <b>
                            {{ d.info.misc }}
                        </b>&nbsp;({{ d.info.tip }})
                        {% elif d.info.title or d.info.name %}
                        {% if d.info.title %} title: {{ d.info.title }}<br /> {% endif %}
                        {% if d.info.name %} name: {{ d.info.name }} {% endif %}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td style="max-width: 150px;word-wrap: break-word;">
                        {% if d.info.desc %}
                        {{ d.info.desc }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td style="max-width: 150px;word-wrap: break-word;">
                        {% if d.info.keywords %}
                        {{ d.info.keywords|truncatechars:150 }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td style="max-width: 150px;word-wrap: break-word;">
                         {% if d.src_domain %}
                            <a href="{% url 'display' domain=d.src_domain %}">{{ d.src_domain }}</a>
                         {% else %}
                         {% endif %}
                    </td>
                    <td id="zip" style="max-width: 60px;word-wrap: break-word;">
                        {% if d.info.zip %}
                        {{d.info.zip}}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td style="max-width: 10px;word-wrap: break-word;" {% if d.is_suspicious %} class="has-background-warning" {% endif %}> {{d.status}} {% if d.status == 'finished' %} <br />(externals: {{ d.filter_unique_externals.count }}) {% endif %}
                    </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>