{% extends "./layout.html" %}
{% block head %}
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Crawling of <span id=externals_count>{{jobs.items|length}}<span> domains started</h1>
            <h2 class="subtitle">
                Status: <span id="statusExternalScan"></span><br>
                Remaining Domains to crawl: <span id="remaining"></span><br>
                Time elapsed since start: <span id="timeElapsed"></span>sec
            </h2>
            <input type="hidden" id="timer" value="{{timer}}">
            <div class="content">
                <a class="button is-primary is-inverted" href="/TODO">Graph</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content%}
<section class="section">
    <div class="container">
        <table id="externals" class="display">
            <thead>
                <tr>
                    <th>Domain</th>
                    <th>Status</th>
                    <th>Duration</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
                {% for domain, job_id in jobs.items%}
                <tr class="{{domain}}">
                    <td id="domain">{{domain}}
                        <input type="hidden" id="job_id" value="{{job_id}}">
                    </td>
                    <td id="status">-</td>
                    <td id="duration">-</td>
                    <td>
                        <button class="button is-danger is-outlined" type="button" onclick="cancelJob('{{ job_id }}', '{{ domain }}')">Cancel Scan</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
{% block javascript %}
{% load static %}
<script src="{% static '/js/regios-selected.js' %}"></script>
{% endblock %}